{% extends 'base.html.twig' %}

{% block title %}Hello SessionController!{% endblock %}

{% block body %}
 <nav class="sticky-top" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('home.index') }}"><i class="fas fa-home"></i></a></li>
            <li class="breadcrumb-item active"><a href="{{ path('session') }}">Sessions</a></li>
        </ol>
    </nav>
           <table class="table table-sm table-striped">
            <thead >
                <tr class="bg-info text-light">
                    <th scope="col">Nom</th>
                    <td scope="col">Date de début</td>
                    <td scope="col">Date de fin</td>
                    <th scope="col">Formateur</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for session in pagination %}
                    <tr data-session-id="{{ session.id }}" data-href="{{ path('session_edit', {'id': session.id}) }}">
                        <td>{{ session.name }}</td>
                        <td>{{ session.dateDebut|date('d/m/Y') }}</td>
                        <td>{{ session.dateFin|date('d/m/Y') }}</td>
                        <td>{{ session.formateurFormation.nom }}</td>
                        <td>
                            <a href="{{ path('session_edit', {'id': session.id}) }}" class="btn btn-primary btn-sm"><i class="fas fa-edit"></i></a>
                            <a href="{{ path('session_delete', {'id': session.id}) }}" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
          <tfoot>
                        <tr>
                            <td colspan="2" class="text-align-middle pt-3">
                                <strong>Total : </strong> {{ pagination.getTotalItemCount }}
                            </td>
                            <td colspan="3" class="text-align-middle pt-3">
                                {{ knp_pagination_render(pagination) }}
                            </td>
                        </tr>
                    </tfoot>
                        </table>
{% endblock %}
