{% extends 'base.html.twig' %}

{% block title %}Hello SessionController!{% endblock %}

{% block body %}
 <nav class="sticky-top" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('home.index') }}"><i class="fas fa-home"></i></a></li>
            <li class="breadcrumb-item active"><a href="{{ path('session') }}">Sessions</a></li>
        </ol>
    </nav>
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Formateur</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for session in pagination %}
                    <tr>
                        <td>{{ session.name }}</td>
                        <td>{{ session.formateurFormation.nom }}</td>
                        <td>
                            <a href="javascript:void(0)" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                            <a href="javascript:void(0)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
          <tfoot>
                        <tr>
                            <td colspan="2" class="text-align-middle pt-3">
                                <strong>Total : </strong> {{ pagination.getTotalItemCount }}
                            </td>
                            <td colspan="2" class="text-align-middle pt-3">
                                {{ knp_pagination_render(pagination) }}
                            </td>
                        </tr>
                    </tfoot>
                        </table>
</div>
{% endblock %}
