{% extends 'base.html.twig' %}

{% block title %}Encaissements Edit - CRM Aprentiv v2.0{% endblock %}

{% set textButton = 'Enregistrer' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">
{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
        <div class="d-flex justify-content-between breadcrumb">
            <ol class="list-unstyled d-flex my-0">
                <li class="breadcrumb-item"><a href="{{ path('home.index') }}"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item active" aria-current="page">
                    <a href="{{ path('Liste_Encaissement_Controller') }}" title="Liste des encaissements">Liste des encaissements</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Encaissement</li>
            </ol>
        </div>
    </nav>

    <h2 class="text-center mt-2 text-primary">ENCAISSEMENT FACTURE {{ source == 'dossier' ? 'DOSSIER' : 'DOMICILIATION/LOCATION'}}</h2>

    {% include 'encaissement/form_encaissement.html.twig' with {'type':'create', source : source} %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.fr.min.js"></script>

    {% include 'Common/commentaire-js.html.twig' %}

    <script>
        $(function () {
        {# Utilisation date picker pour les filtres de type date #}
                    $(".js-datepicker").each(function () {
                        $(this).datepicker({
                            'format': 'dd/mm/yyyy',
                            'autoclose': true,
                            'clearBtn': true,
                            'language': 'fr',
                        });
                    });

                    $(document).on('change', '#encaissement_payeur', function (params) {
                        let valuePay = $(this).val();
                        // Ne pas effacer les valeurs au chargement de la page
                        let isTrigger = params.isTrigger;

                        if (valuePay == '0') {
                            setElementReeadOnly('.cli_choice', true, isTrigger);
                            setElementReeadOnly('.opca_choice', false, isTrigger);
                        } else if (valuePay == '1') {
                            setElementReeadOnly('.cli_choice', false, isTrigger);
                            setElementReeadOnly('.opca_choice', true, isTrigger);
                        } else {
                            setElementReeadOnly('.cli_choice', false, isTrigger);
                            setElementReeadOnly('.opca_choice', false, isTrigger);
                        }
                    });

                    {#$(document).on('change', '#encaissement_montantHTEncaisse', function () {
                        $('#encaissement_taux_commission').trigger('change');
                    });#}

                    $('#encaissement_taux_commission').trigger('change');

                    $(document).on('change', '#encaissement_taux_commission', function () {
                        let taux = parseInt($(this).val());
                        let mntEnc = treatChrTonumber($('#encaissement_montantHTEncaisse').val());
                        let montantComms = mntEnc * taux / 100;
                        //
                        $('#encaissement_montant_commission').val(new Intl.NumberFormat().format(montantComms));
                    });

                    $('#encaissement_payeur').trigger('change', ["first"]);

        {# Autocompletion recherche societe -->> #}
                    $('#encaissement_societes').select2({
                        placeholder: "--Sélectionnez--",
                        minimumInputLength: 3,
                        allowClear: true,
                        ajax: {
                            url: '{{ path('crm.dossier.client.asynch-search') }}',
                            data: function (params) {
                                var query = {
                                    search: params.term,
                                    byid: true
                                };
                                // Query parameters will be ?search=[term]&type=public
                                return query;
                            },
                            processResults: function (data) {
                                var dataResults = data.results !== undefined ? data.results : [];
                                return {
                                    results: $.map(dataResults, function (item) {
                                        return {
                                            text: item.text,
                                            id: item.id
                                        };
                                    })
                                };
                            }
                        }
                    });

                    let societeData = {};
        {% for societe in societes_liees %}
                    societeData = {
                        id: "{{ societe.idSociete }}",
                        text: '{{ societe.societe|e('js') }}'
                    };

                    var newOption = new Option(societeData.text, societeData.id, true, true);
                    $('#encaissement_societes').append(newOption).trigger('change');
        {% endfor %}
        {# Autocompletion recherche commercical <<-- #}

                    $('#encaissement_opca').select2({
                        placeholder: "--Sélectionnez--",
                        minimumInputLength: 3,
                        allowClear: true,
                        ajax: {
                            url: '{{ path('crm.opca.list-asynch') }}',
                            data: function (params) {
                                var query = {
                                    search: params.term
                                };
                                // Query parameters will be ?search=[term]&type=public
                                return query;
                            }
                        }
                    });
        {% if encaissement_infos.opca_id is not null %}
                    let opcaData = {
                        id: "{{ encaissement_infos.opca_id }}",
                        text: '{{ encaissement_infos.opca_nom_str|e('js') }}'
                    };

                    var newOption = new Option(opcaData.text, opcaData.id, true, true);
                    $('#encaissement_opca').append(newOption).trigger('change');
        {% endif %}

                    $('#autocomplete-facture').select2({
                        placeholder: "-- Sélectionnez une référence facture --",
                        minimumInputLength: 2,
                        allowClear: true,
                        ajax: {
                            url: '{{ path('crm.facture.asynch-search') }}',
                            data: function (params) {
                                var query = {
                                    search: params.term
                                };
                                // Query parameters will be ?search=[term]&type=public
                                return query;
                            }
                        }
                    });


        {#  Ajout de nouvelle facture --> #}
                    $('#add-facture-avoir').on('click', function (e) {
                        e.preventDefault();
                        const facId = $('#autocomplete-facture').val();

                        if (facId) {
                            // Récupérer le form
                            let factureAvoirInfosRequest = $.ajax({
                                url: '{{ path('crm.encaissement.factures-avoirs-infos') }}',
                                method: 'POST',
                                data: {fid: facId}
                            });

                            factureAvoirInfosRequest.done(function (response) {
                                $(response).appendTo($('#factures-wrapper'));

                                let factiInforequest = $.ajax({
                                    url: '{{ path('crm.encaissement.factures-avoirs-infosdetail') }}',
                                    method: 'POST',
                                    data: {fid: facId}
                                });

                                factiInforequest.done(function (response) {
                                    const factInfo = response;
                                    const encHtField = $('#encaissement_montantHTEncaisse');
                                    const encTtcField = $('#encaissement_montantTTCEncaisse');
                                    let newEncHTval = common.parseFloatValue(treatChrTonumber(encHtField.val())) + common.parseFloatValue(factInfo.totalRegleHt);
                                    let newEncTTCval = common.parseFloatValue(treatChrTonumber(encTtcField.val())) + common.parseFloatValue(factInfo.mntTtc);


                                    encHtField.val(common.formatMoney(newEncHTval));
                                    encTtcField.val(common.formatMoney(newEncTTCval));
                                    encHtField.trigger('change');
                                    calculaterestedu();
                                });
                            });
                            // Ajouter le form facture/avoir
                        }
                    });
        {#  Ajout de nouvelle facture <-- #}

                    $(document).on('click', '.remove-facture-liee', function () {
                        let $factureItem = $(this).closest('fieldset');
                        let facId = $factureItem.find('.id_fact').val();
                        $factureItem.remove();

                        let factiInforequest = $.ajax({
                            url: '{{ path('crm.encaissement.factures-avoirs-infosdetail') }}',
                            method: 'POST',
                            data: {fid: facId}
                        });

                        factiInforequest.done(function (response) {
                            const factInfo = response;
                            const encHtField = $('#encaissement_montantHTEncaisse');
                            const encTtcField = $('#encaissement_montantTTCEncaisse');
                            let newEncHTval = common.parseFloatValue(treatChrTonumber(encHtField.val())) - common.parseFloatValue(factInfo.totalRegleHt);
                            let newEncTTCval = common.parseFloatValue(treatChrTonumber(encTtcField.val())) - common.parseFloatValue(factInfo.mntTtc);

                            encHtField.val(common.formatMoney(newEncHTval));
                            encTtcField.val(common.formatMoney(newEncTTCval));

                            encHtField.trigger('change');
                            calculaterestedu();
                        });
                    });

                    $("#encaissement_montantTTCEncaisse").on('keyup', function () {
                        calculaterestedu();
                    });

                });
                $(document).ready(function () {
                    calculaterestedu();
                });

                function calculaterestedu() {

                    var mntttcTotal = 0;
                    $(".montantttcfacture").each(function () {
                        var mntttc = common.parseMoney($(this).val());
                        if (mntttc == '') {
                            mntttc = '0.00';
                        }
                        mntttcTotal += parseFloat(mntttc);
                    });
                    var mntttcpaye = common.parseMoney($("#encaissement_montantTTCEncaisse").val());
                    if (mntttcpaye == '') {
                        mntttcpaye = '0.00';
                    }
                    
                    // APR-154 : Calcul montant
                    var montantTTCAvoir = common.parseMoney($('#montant-ttc-avoir').val());
                    
                    var diff = mntttcTotal - parseFloat(mntttcpaye) - montantTTCAvoir;
                    $("#encaissement_restedu").val(diff).blur();
                }

                function treatChrTonumber(charNumber) {
                    charNumber = charNumber.replace(/\s/g, '').replace(',', '.');
                    return charNumber;
                }

                function setElementReeadOnly(eltClassName, value, isOnload) {
                    $(eltClassName).each(function (index) {
                        if (!isOnload) {
                            // Préserver les valeurs au chargement de la page
                            $(this).val('');
                            $(this).find('.form-check-input').prop('checked', false);
                        }
                        $(this).prop('readonly', value);
                        $(this).find('.form-check-input').prop('disabled', value);
                    });
                }
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.date-until-now').datepicker(
                    {
                        'format': 'dd/mm/yyyy',
                        'autoclose': true,
                        endDate: new Date(),
                        'language': 'fr',
                    }
            );
    
            // Si type règlement = chèque : rendre obligatoire 
            $('#encaissement_typereglclient').on('change', function() {
                var typeReglement = $(this).val();
                
                if (typeReglement === 'cheque') {
                   $('#encaissement_chequeattencaiss').prev('legend').addClass('required');
                   $('#encaissement_chequeattencaiss input').attr('required', 'required');
                   $('#encaissement_chequeattencaiss label').attr('required', 'required');
                   
                   $('#encaissement_datecheque').prev('label').addClass('required');
                   $('#encaissement_datecheque').attr('required', 'required');
                   
                   $('#encaissement_dtvalidite').prev('label').addClass('required');
                   $('#encaissement_dtvalidite').attr('required', 'required');
               } else {
                   $('#encaissement_chequeattencaiss').prev('legend').removeClass('required');
                   $('#encaissement_chequeattencaiss input').removeAttr('required');
                   $('#encaissement_chequeattencaiss label').removeClass('required');
                   
                   $('#encaissement_datecheque').prev('label').removeClass('required');
                   $('#encaissement_datecheque').removeAttr('required');
                   
                   $('#encaissement_dtvalidite').prev('label').removeClass('required');
                   $('#encaissement_dtvalidite').removeAttr('required');
               }
                
            });
        });
    </script>
{% endblock %}