{% extends 'base.html.twig' %}

{% block title %}CRM - Création de menus
{% endblock %}

{% block body %}
	<nav class="sticky-top" aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="{{ path('home.index') }}">
					<i class="fas fa-home"></i>
				</a>
			</li>
			<li class="breadcrumb-item active">
				<a href="{{ path('menu') }}">Menus</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">Création</li>
		</ol>
	</nav>
	<div class="container">
		{{ form_start(form,{'method' : 'post', 'onsubmit': 'checkRequireField();' }) }}
		 <div class="row">
		 	<div class="col-md-12">
				<div class="form-group">
					{{ form_label(form.nommenu, 'Nom du menu') }}
					{{ form_widget(form.nommenu) }}
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					{{ form_label(form.urlmenu, 'Url du menu') }}
					{{ form_widget(form.urlmenu) }}
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					{{ form_label(form.urlcreation, 'Url de création') }}
					{{ form_widget(form.urlcreation) }}
				</div>
			</div>
		</div>
		<div class="form-group text-center">
			<button type="submit" class="btn btn-primary btn-block btn-lg">Créer</button>
		</div>
		{{ form_end(form) }}
	</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
        <script src="{{ asset('assets/js/wickedpicker.js') }}"></script>
<script>
        document.querySelectorAll('input').forEach(function (input) {
            input.removeAttribute('disabled');
        });
        document.querySelectorAll('select').forEach(function (select) {
            select.removeAttribute('disabled');
        });
		document.querySelectorAll('button').forEach(function(button){
			button.removeAttribute('disabled');
		});
</script>
{% endblock %}