{% extends 'base.html.twig' %}

{% block title %}Client/Prospect - CRM Aprentiv v2.0{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('home.index') }}"><i class="fas fa-home"></i></a></li>
            <li class="breadcrumb-item active" aria-current="page">Liste des clients / Prospects</li>
        </ol>
    </nav>

    <h2 class="text-center mt-2 text-primary">LISTE DES CLIENTS / PROSPECTS</h2>

    <fieldset class="mb-3 list-filter">
        <legend>Filtre</legend>
        {{ form_start(contact_filter_form)  }}
        <div class="form-row">
            <div class="form-group col-md-1">
                {{ form_widget(contact_filter_form.structure, { 'placeholder' : '-- Entité --',  attr: {'class' : 'w-100'} }) }}
            </div>
            <div class="form-group col-md-1">
                <p>{{ form_widget(contact_filter_form.idType, { 'placeholder' : '-- Statut --',  attr: {'class' : 'w-100'} }) }}</p>
            </div>
            <div class="form-group col-md-2">
                {#{{ form_label(contact_filter_form.societe) }}#}
                <p>{{ form_widget(contact_filter_form.societe, { attr : {'class' : 'w-100 py-3' } } )  }}</p>
            </div>
            <div class="form-group col-md-2">
                {#{{ form_label(contact_filter_form.nom) }}#}
                {{ form_widget(contact_filter_form.email, { attr: {'class' : 'w-100', placeholder : '-- Email --'} } ) }}
            </div>
            <div class="form-group col-md-2">
                {#{{ form_label(contact_filter_form.nom) }}#}
                {{ form_widget(contact_filter_form.nom, { attr: {'class' : 'w-100', placeholder : '-- Nom --'} } ) }}
            </div>
            <div class="form-group col-md-2">
                {#{{ form_label(contact_filter_form.prenom) }}#}
                {{ form_widget(contact_filter_form.prenom, { attr: {'class' : 'w-100', placeholder : '-- Prénom --'} } ) }}
            </div>
            <div class="form-group col-md-2">
                {#{{ form_label(contact_filter_form.adresse) }}#}
                {{ form_widget(contact_filter_form.adresse, { attr: {'class' : 'w-100', placeholder : '-- Adresse --'} } ) }}
            </div>
        </div>
        <div class="form-row clearfix">
            <div class="col-md-2">
                {{ form_widget(contact_filter_form.ville, { attr: { 'class' : 'w-100', placeholder : '-- Ville --'} } ) }}
            </div>
            <div class="col-md-2">
                {#{{ form_label(contact_filter_form.codePostal) }}#}
                {{ form_widget(contact_filter_form.codePostal, { attr: { 'class' : 'w-100', placeholder : '-- Code postal --'} } ) }}
            </div>
            <div class="col-md-2">
                {#{{ form_label(contact_filter_form.telephone) }}#}
                {{ form_widget(contact_filter_form.telephone, { attr: { 'class' : 'w-100', placeholder : '-- Téléphone --'} } ) }}
            </div>
            <div class="col-md-2">
                {#{{ form_label(contact_filter_form.opca) }}#}
                {{ form_widget(contact_filter_form.opca, { attr: { 'class' : 'w-100', placeholder : '-- OPCO --'} }) }}
            </div>
            <div class="col-md-2">
                {#{{ form_label(contact_filter_form.commercial) }}#}
                {{ form_widget(contact_filter_form.commercial, { attr: { 'class' : 'w-100', placeholder : '-- Commercial --'} }) }}
            </div>
            
            <div class="col-md-2 mt-2">
                <button type="submit" class="btn btn-info py-1">Rechercher</button>
                <a href="{{ path('Liste_Client_Prospect_Controller') }}" class="text-warning" title="Réinitialiser filtre"><i class="fas fa-undo"></i></a>
            </div>
        </div>
        {{ form_end(contact_filter_form)  }}
    </fieldset>

    <table class="table table-sm mb-0 table-striped">
        <thead>
            <tr class="bg-info text-light">
                <th>Entité</th>
                <th>Statut</th>
                <th>Societe</th>
                <th>Interlocuteur</th>
                <th>Adresse</th>
                <th>Ville</th>
                <th>Code postale</th>
                <th>Téléphone</th>
                <th>Email</th>
                <th>OPCO</th>
                <th>Cial</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for contact in pagination %}
                
                <tr data-clientprospect-id="{{ contact.contact_id }}" data-href="{{ path('Fiche_client_prospect_Controller/editClient', { id : contact.contact_id} ) }}">
                    {{ form_start(contact_forme[contact.contact_id]) }}
                    <td>{{ form_widget(contact_forme[contact.contact_id].structure) }}</td>
                    <td>{{ contact.statut }}</td>
                    <td>{{ contact.societe }}</td>
                    <td>{{ contact.nom | ucwords}} {{ contact.prenom | ucwords }}</td>
                    <td>{{ contact.adresse }}</td>
                    <td>{{ contact.ville }}</td>
                    <td>{{ contact.codePostal }}</td>
                    <td>{{ contact.telephone }}</td>
                    <td>{{ contact.email}}</td>
                    <td>{{ contact.opca }}</td>
                     {% if app.user == "MUNIER Pascal" %}
                    <td>    {{ form_widget(contact_forme[contact.contact_id].id_commercial, { attr: { 'class' : 'w-100', placeholder : '-- Commercial --'} }) }}</td>
                    {% else %}
                    <td>    {{ form_widget(contact_forme[contact.contact_id].id_commercial, { attr: { 'class' : 'w-100', placeholder : '-- Commercial --', disabled:true} }) }}</td>
                    {% endif %}
                    <td>
                        {% if can_view is defined and can_view %}
                        <a href="{{ path('Fiche_client_prospect_Controller/editClient', { id : contact.contact_id} ) }}">
                            <i class="fas fa-eye fa-2x"  style="margin-right: 10px;"></i>
                        </a>
                        {% endif %}
                        {% if can_edit is defined and can_edit %}
                        <a onClick="deleteClientProspect($(this))">
                            <i class="fas fa-trash-alt text-danger fa-2x"></i>
                        </a>
                        {% endif %}
                    </td>
                {{ form_end(contact_forme[contact.contact_id]) }}
                </tr>
                

            {% endfor %}
        </tbody>

        <tfoot>
            <tr >
                <td colspan="6" class="text-align-middle pt-3">
                    <strong>Total : </strong> {{ pagination.getTotalItemCount }}
                </td>
                <td colspan="6" class="text-align-middle pt-3">
                    {{ knp_pagination_render(pagination) }}
                </td>
            </tr>
        </tfoot>
    </table>
     
    {% if can_edit is defined and can_edit %}
    <div class="col-sm-12 p-0" id="content_bouton">
        <div class="btn-toolbar justify-content-md-center" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="Third group">
                <a href="{{ path("Fiche_client_prospect_Controller/ajoutclient") }}" class="btn btn-primary btn-block">Ajouter une fiche</a>
            </div>
            {% endif %}
            {% if app.user  == 'MUNIER Pascal'%}
            <div class="btn-group mr-2" role="group" aria-label="Third group">
                <a href="{{ path("export_prospect") }}" class="btn btn-primary btn-block">Exporter prospects</a>    
            </div>
            {% endif %}
        </div>
        
    </div>
    

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    

    <script>

        function deleteClientProspect(elem)
        {
            var clientprospect_id = elem.closest('tr').attr('data-clientprospect-id');
            var deleteLink = '{{ path('Client_Prospect_Delete', {'id':'clientprospect_id'}) }}';
            deleteLink = deleteLink.replace('clientprospect_id', clientprospect_id);
            swal({
                title: "Confirmation!",
                text: "Voulez vous supprimer cette ligne?",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        type: "GET",
                        url: deleteLink,
                    })
                    .done(function(data){
                        if (data.status == "Success") {
                            swal("Supprimé avec succés!", {
                                icon: "success",
                            }).then((ok) => {
                                location.reload();
                            });
                        } else {
                            swal({
                                title: "Error!",
                                text: data.message,
                                icon: "warning",
                                buttons: false,
                                dangerMode: true,
                            });
                        }
                    });
                }
            });
        }

        $(function () {
            $('#societe').select2({
                placeholder: "-- Société --",
                minimumInputLength: 3,
                allowClear: true,
                ajax: {
                    url: '{{ path('crm.contact.societe.asynch-search') }}',
                    data: function (params) {
                        var query = {
                            search: params.term
                        };
                        // Query parameters will be ?search=[term]&type=public
                        return query;
                    }
                }
            });

            {% if app.request.query.get('societe') %}
                    var data = {
                        id: "{{ app.request.query.get('societe') }}",
                        text: '{{ app.request.query.get('societe')|e('js') }}'
                    };

                    var newOption = new Option(data.text, data.id, true, true);
                    $('#societe').append(newOption).trigger('change');

            {% endif  %}
            
             $('#{{ contact_filter_form.opca.vars.id }}').select2({
                placeholder: "-- OPCO --",
                minimumInputLength: 3,
                allowClear: true,
                ajax: {
                    url: '{{ path('crm.dossier.opca.asynch-search') }}',
                    data: function (params) {
                        var query = {
                            search: params.term
                        };
                        // Query parameters will be ?search=[term]&type=public
                        return query;
                    }
                }
            });

            {% if app.request.query.get('opca') %}
                    var data = {
                        id: "{{ app.request.query.get('opca') }}",
                        text: '{{ app.request.query.get('opca')|e('js') }}'
                    };

                    var newOption = new Option(data.text, data.id, true, true);
                    $('#{{ contact_filter_form.opca.vars.id }}').append(newOption).trigger('change');

            {% endif  %}
        });
    </script>
{% endblock %}