
{% for commentaire in form.commentaires %}
    <div id="formation_commentaires" data-prototype="<fieldset class=&quot;form-group&quot;><legend class=&quot;col-form-label&quot;>__name__label__</legend><div id=&quot;formation_commentaires___name__&quot;><div class=&quot;form-group&quot;><label for=&quot;formation_commentaires___name___dateAdd&quot;>Date création</label><input type=&quot;date&quot; id=&quot;formation_commentaires___name___dateAdd&quot; name=&quot;formation[commentaires][__name__][dateAdd]&quot; class=&quot;form-control&quot; /></div><div class=&quot;form-group&quot;><label for=&quot;formation_commentaires___name___texteNote&quot;>Commentiares</label><input type=&quot;text&quot; id=&quot;formation_commentaires___name___texteNote&quot; name=&quot;formation[commentaires][__name__][texteNote]&quot; class=&quot;form-control&quot; /></div><div class=&quot;form-group&quot;><label class=&quot;&quot; for=&quot;formation_commentaires___name___idNomAction&quot;>Action</label><select id=&quot;formation_commentaires___name___idNomAction&quot; name=&quot;formation[commentaires][__name__][idNomAction]&quot; class=&quot;form-control&quot;><option value=&quot;&quot;>Selectionnez</option><option value=&quot;0&quot;>A Rappeler</option><option value=&quot;1&quot;>Propal à faire</option><option value=&quot;2&quot;>RDV à définir</option><option value=&quot;3&quot;>Relance Propal</option><option value=&quot;4&quot;>Relance A. OPCA</option><option value=&quot;5&quot;>Relance F. OPCA</option><option value=&quot;6&quot;>Relance Clt</option><option value=&quot;7&quot;>Att. Rappel Clt</option><option value=&quot;8&quot;>Att. Courrier Clt</option><option value=&quot;9&quot;>Att. Courrier OPCA</option><option value=&quot;10&quot;>Note</option><option value=&quot;11&quot;>Enct Chq en att</option><option value=&quot;12&quot;>Fact OPCA à faire</option><option value=&quot;13&quot;>Fact CLT à faire</option><option value=&quot;14&quot;>Dossier à monter</option><option value=&quot;15&quot;>Suivi formation</option><option value=&quot;16&quot;>Préparer RDV</option><option value=&quot;17&quot;>Att. Accord OPCA</option><option value=&quot;18&quot;>Emarg à envoyer</option><option value=&quot;19&quot;>Emarg à réclamer</option><option value=&quot;20&quot;>Accord à réclamer</option><option value=&quot;21&quot;>Docs à réclamer</option><option value=&quot;22&quot;>Att. Rembt Clt</option><option value=&quot;23&quot;>Att. Chq à encaisser</option><option value=&quot;24&quot;>Att. Infos du Cial</option><option value=&quot;25&quot;>RDV à préparer</option><option value=&quot;26&quot;>Dossier à valider</option><option value=&quot;27&quot;>Dossier à envoyer</option><option value=&quot;28&quot;>Encaissement</option><option value=&quot;29&quot;>Att Virt Clt</option><option value=&quot;30&quot;>Att. Infos Client</option><option value=&quot;31&quot;>email à envoyer</option><option value=&quot;32&quot;>Pbl Relances</option><option value=&quot;33&quot;>plaquette à envoyer</option><option value=&quot;34&quot;>A re-prospecter</option><option value=&quot;35&quot;>RDV à confirmer</option><option value=&quot;36&quot;>A Appeler</option><option value=&quot;37&quot;>Dossier à récupérer</option><option value=&quot;38&quot;>Envoyer message</option><option value=&quot;39&quot;>Dde rembt à envoyer</option><option value=&quot;40&quot;>Docs à récupérer</option><option value=&quot;41&quot;>RDV</option><option value=&quot;42&quot;>rendez vous</option><option value=&quot;43&quot;>mail à envoyer</option><option value=&quot;44&quot;>Codes accès OPCA</option><option value=&quot;45&quot;>Point admin</option><option value=&quot;46&quot;>RDV à reporter</option><option value=&quot;47&quot;>Dossier à finaliser</option><option value=&quot;48&quot;>Relance Prospere</option><option value=&quot;49&quot;>Mail pour cpte opca</option><option value=&quot;50&quot;>SIRET ENTREPRISE</option><option value=&quot;51&quot;>Att reglt clt</option></select></div><div class=&quot;form-group&quot;><label for=&quot;formation_commentaires___name___dateAction&quot;>Date action</label><input type=&quot;date&quot; id=&quot;formation_commentaires___name___dateAction&quot; name=&quot;formation[commentaires][__name__][dateAction]&quot; class=&quot;form-control&quot; /></div><div class=&quot;form-group&quot;><label class=&quot;&quot; for=&quot;formation_commentaires___name___idUserAction&quot;>Qui</label><select id=&quot;formation_commentaires___name___idUserAction&quot; name=&quot;formation[commentaires][__name__][idUserAction]&quot; class=&quot;form-control&quot;><option value=&quot;&quot;>Selectionnez</option><option value=&quot;21&quot;>A DISPACHER
</option><option value=&quot;29&quot;>Aurelie</option><option value=&quot;34&quot;>Bertrand BONIFAZI</option><option value=&quot;17&quot;>CHAU Linda</option><option value=&quot;18&quot;>Doriane GUEHENNEC</option><option value=&quot;23&quot;>Gérard NEU
</option><option value=&quot;22&quot;>INTER</option><option value=&quot;9&quot;>Laetitia NUNES</option><option value=&quot;31&quot;>LOUBAUD Veronique</option><option value=&quot;7&quot;>Manon BOULANGER</option><option value=&quot;27&quot;>Marine</option><option value=&quot;15&quot;>Marjolaine PETILLON</option><option value=&quot;11&quot;>Melissa IMREK</option><option value=&quot;16&quot;>Milena MILEVA </option><option value=&quot;25&quot;>Moore</option><option value=&quot;6&quot;>Pascal MUNIER</option><option value=&quot;20&quot;>Pierre CATELAND</option><option value=&quot;32&quot;>RAOELIJAONA Allan</option><option value=&quot;4&quot;>Remuald LOISON</option><option value=&quot;24&quot;>Richard AUDOUIN	</option><option value=&quot;36&quot;>Sam SAMITIAMA</option><option value=&quot;35&quot;>Sana SOULEMANIE</option><option value=&quot;28&quot;>Sarah</option><option value=&quot;26&quot;>Soktida</option><option value=&quot;19&quot;>Sophie HAAS</option><option value=&quot;13&quot;>Thibault GARDEDIEU</option><option value=&quot;8&quot;>Virginie CRUGEON </option></select></div><div class=&quot;form-group&quot;><label class=&quot;&quot; for=&quot;formation_commentaires___name___idActionStatut&quot;>Statut action</label><select id=&quot;formation_commentaires___name___idActionStatut&quot; name=&quot;formation[commentaires][__name__][idActionStatut]&quot; class=&quot;form-control&quot;><option value=&quot;&quot;>Selectionnez</option><option value=&quot;0&quot;>A faire</option><option value=&quot;1&quot;>En cours</option><option value=&quot;2&quot;>Fait</option><option value=&quot;3&quot;>Annulé</option><option value=&quot;4&quot;>Note</option><option value=&quot;5&quot;>Pour info</option><option value=&quot;6&quot;>A véfifier</option><option value=&quot;7&quot;>Suivi formation</option><option value=&quot;8&quot;>Suivi rglt</option><option value=&quot;9&quot;>Vu</option><option value=&quot;10&quot;>Encaissé</option><option value=&quot;11&quot;>Pbl Relances</option><option value=&quot;12&quot;>En stand by</option><option value=&quot;13&quot;>Code accès OPCA</option><option value=&quot;14&quot;>mail pour cpte opca</option></select></div></div></fieldset>">
        <fieldset class="form-group">
            <div id="formation_commentaires_0">
                <div class="row">
                    <div class="col-sm">
                        <div class="form-group">
                            {{ form_label(commentaire.dateAdd, "Date de creation", {
                                'label_attr': {'class': 'font-weight-bold'}
                            }) }}
                            {{ form_widget(commentaire.dateAdd) }}
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="form-group">
                            {{ form_label(commentaire.texteNote, "Commentaire", {
                                'label_attr': {'class': 'font-weight-bold'}
                            }) }}
                            {{ form_widget(commentaire.texteNote) }}
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="form-group">
                            {{ form_label(commentaire.idNomAction, "Action", {
                                'label_attr': {'class': 'font-weight-bold'}
                            }) }}
                            {{ form_widget(commentaire.idNomAction) }}
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="form-group">
                            {{ form_label(commentaire.idActionStatut, "Statut action", {
                                'label_attr': {'class': 'font-weight-bold'}
                            }) }}
                            {{ form_widget(commentaire.idActionStatut) }}
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="form-group">
                            {{ form_label(commentaire.dateAction, "Date action", {
                                'label_attr': {'class': 'font-weight-bold'}
                            }) }}
                            {{ form_widget(commentaire.dateAction) }}
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="form-group">
                            {{ form_label(commentaire.idUserAction, "Qui", {
                                'label_attr': {'class': 'font-weight-bold'}
                            }) }}
                            {{ form_widget(commentaire.idUserAction) }}
                        </div>
                    </div>
                </div>
            </div>
            <a href="#" class="btn_delete_form btn btn-danger">X</a>
        </fieldset>
    </div>
{% endfor %}

