<center>
    <input type="button" class="btn btn-warning" style="border-radius: 5%;" id="btnajoutcom" value="Ajouter un commentaire">
</center>
<table style="display: none">
    <thead id="commentaire_prototype">
    {% block comment_row %}
        {% if indexRow is not defined %}
            {% set indexRow = '__name__' %}
        {% endif %}
        {% if attributes is not defined %}
            {% set attributes = { 'attr': { 'disabled': true } } %}
        {% endif %}
        <tr id="commentaire_row-{{ indexRow }}">
            {{ form_widget(prototype.id, attributes) }}
            <td >
                {{ form_widget(prototype.dateAdd, attributes) }}
                {{ form_errors(prototype.dateAdd) }}
            </td>
            <td >
                {{ form_widget(prototype.texteNote, attributes) }}
                {{ form_errors(prototype.texteNote) }}
            </td>
            <td >
                {{ form_widget(prototype.idAction, attributes) }}
                {{ form_errors(prototype.idAction) }}
            </td>
            <td >
                {{ form_widget(prototype.dateAction, attributes) }}
                {{ form_errors(prototype.dateAction) }}
            </td>
            <td>
                {{ form_widget(prototype.idUserAction, attributes) }}
                {{ form_errors(prototype.idUserAction) }}
            </td>
            <td >
                {{ form_widget(prototype.idActionStatut, attributes) }}
                {{ form_errors(prototype.idActionStatut) }}
            </td>
            <td>
                <div>
                    <a href="javascript:void(0)" class="delete-comment" title="Supprimer" style="font-size: 140%;" data-idrow="commentaire_row-{{ indexRow }}">
                        <i class="fas fa-trash-alt text-danger"></i>
                    </a>
                </div>
            </td>
        </tr>
    {% endblock %}
    </thead>
</table>
<table class="table table-striped table-borderless col-sm-12 mt-3">
    <thead>
    <tr>
        <th>Date création</th>
        <th>Commentaires</th>
        <th>Action</th>
        <th>Date Action</th>
        <th>Qui</th>
        <th>Statut action</th>
        <th style="width: 5%;"></th>
    </tr>
    </thead>
    <tbody id="commentaires_collection">
    {% set rowNum = 0 %}
    {% for commentaire in commentaires %}
        {# utiliser les info du commentaire pour construire le bloc comment_row #}
        {% set indexRow = loop.index %}
        {% set attributes = {} %}
        {% set prototype = commentaire %}
        {{ block('comment_row') }}
    {% endfor %}
    </tbody>
</table>

