<p style="font-family:Arial;font-size: 12px">
    Est conclue la convention de formation professionnelle suivante, en application du Livre III du chapitre 6 du code du Travail sur la Formation Professionnelle Continue.
</p>
<ol style="font-family:Arial;font-size: 12px">
    <li>
<span style="font-family: Arial Black;font-size: 10px">OBJET DE LA CONVENTION :</span><br/>
L’intitulé du stage de formation est : {{ dossier ?  dossier.nom |replace({'&' : "&amp;"})  }}<br/>
Nature de l’action : 1. Adaptation poste de travail - 2. Evolution/Maintien dans l’emploi - 3. Développement des compétences<br/>
Modalité de sanction : Attestation d’assiduité et de fin de stage
    </li>
    <li>
<span style="font-family: Arial Black;font-size: 10px">DATE, DURÉE ET LIEU :</span><br/>
La formation a une durée de {{ formated_dates_stage ? formated_dates_stage.total_jours | round : "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" }} jours (soit {{ formated_dates_stage ? formated_dates_stage.total_heures : "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" }}h) et se tiendra du {{ formated_dates_stage and formated_dates_stage.date_debut ? formated_dates_stage.date_debut.dateD | date('d/m/Y') : '...' }} au {{ formated_dates_stage and formated_dates_stage.date_fin ? formated_dates_stage.date_fin.dateF | date('d/m/Y')  : '...' }}<br/>
Calendrier du stage : {{ formated_dates_stage ? formated_dates_stage.calendar_text : ""  }} 
<br/>
Horaires du stage : {{ formated_dates_stage and formated_dates_stage.hour_start_am is not empty ? "de "~formated_dates_stage.hour_start_am ~" à "~ formated_dates_stage.hour_end_am ~  (formated_dates_stage and formated_dates_stage.hour_start_pm ? " et "~formated_dates_stage.hour_start_pm  ~ " à " ~ formated_dates_stage.hour_end_pm ) : ''  }} <br/>
Elle se déroulera au : {{ dossier ? dossier.lieu : '' }}
    </li>
    <li>
<span style="font-family: Arial Black;font-size: 10px">MOYENS PEDAGOGIQUES ET TECHNIQUES :</span><br/>
Le Programme de l’action de formation est joint en annexe.<br/>
<ul style="list-style-type: none;">
<span>La formation est dispensée selon les conditions générales ci-dessous :</span>
    <span>- En entreprise (intra)                {{ checked[0] ? "&#9745;" :  "&#9744;" }}    Hors entreprise (inter)        {{ checked[1] ? "&#9745;" :  "&#9744;" }}</span>
    <span>- Formation en présentielle      {{ checked[2] ? "&#9745;" :  "&#9744;" }}    Formation à distance           {{ checked[3] ? "&#9745;" :  "&#9744;" }}</span>
    <span>- Salle de cours : six stagiaires maximum, animée par un formateur ;</span>
    <span>- Cours de langue : Supports variés sous forme de CD audio, vidéo et ouvrages pédagogiques ; mises en situations authentiques et jeux de rôles</span>
    <span>- Stages bureautique : chaque stagiaire travaillant individuellement sur un micro-ordinateur est guidé par un support de cours ;</span>
    <span>- Les formateurs ont plusieurs années d’expérience dans les domaines qu’ils enseignent.</span>
</ul>
    </li>
    <li>
<span style="font-family: Arial Black;font-size: 10px">ANNEXES :</span><br/>
&#9679; Le Programme de l’action de formation est joint en annexe,<br/>
&#9679; Le règlement intérieur figure en annexe, vous voudrez bien le remettre au(x) stagiaire(s).
    </li>
    <li>
<span style="font-family: Arial Black;font-size: 10px">PARTICIPANTS :</span><br/>
Le nombre de participant(s) est de : {{ stagiaires | length > 0 ? stagiaires | length : '' }}<br/>
L’organisme de formation accueillera : <br/>
{% if stagiaires | length > 0 %}
    {% for stagiaire in stagiaires %}
    <p>&#9679; {{ stagiaire }}</p>
    {% endfor %}
{% endif %}
    </li>
    <li>
<span style="font-family: Arial Black;font-size: 10px">COUT ET MODE DE REGLEMENT FORMATION :</span><br/>
Le prix de l’action est fixé à :                                  € HT.<br/>
L’entreprise s’engage à verser la totalité du prix susmentionné selon les modalités de paiement suivantes, soit :<br/>
-Par règlement de {{ opca | replace({'&' : '&amp;'}) }} à l’organisme de formation (subrogation).<br/>
-Si l’organisme collecteur, à savoir {{ opca | replace({'&' : '&amp;'}) }} règle la partie prise en charge à l’entreprise, le contractant en reversera la totalité en fin de stage à l’organisme de formation.<br/>
-Par règlement direct à l’organisme de formation avec un versement de 50% du montant total à l’inscription et 50% avant le début de la formation.
    </li>
    <li>
<span style="font-family: Arial Black;font-size: 10px">DEDIT ET RETRACTATION DE L’ENTREPRISE :</span><br/>
A compter de la date du présent contrat, le signataire à un délai de 10 jours pour se rétracter. Passé ce délai, en cas de dédit par le client à moins de 15 jours calendaires avant le début de l’action de formation objet de la présente convention, celle-ci sera redevable de 50% du montant total de la prestation à titre de dédommagement. Ce montant sera de 100% à moins de 5 jours de la prestation.
    </li>
    <li>
<span style="font-family: Arial Black;font-size: 10px">RECOURS :</span><br/>
Tout litige dans l’application du présent contrat devra faire l’objet d’une conciliation amiable. En cas d’échec, la juridiction de Paris est la seule compétente pour régler un éventuel litige.
    </li>
</ol>
<br/>
Fait en double exemplaire à Paris, le :{{ "now"|date("d/m/Y") }}
