<table class="table table-bordered table-striped mb-0" id="datesdossier">
    <thead>
        <tr>
            <td class="text-center">
                <a href="#" id="remove-selected-dates">Supprimer</a>
            </td>
            <td colspan="5" class="text-center">
                <span><b>Ajouter des dates de formation </b></span>
                <input type="button" id="btn-add-formation" data-toggle="modal" data-target="#formationModal"  value="+">
                {% if id is defined %}
                    <a href="{{ path('dossier.date.refresh_calendar', {id: dossier.id }) }}" id="refresh-calendar" >Refresh</a>
                {% endif %}
            </td>
        </tr>
    </thead>
    <tr>
        <th class="text-center">
            <input type="checkbox" id="toogle-formation-dates-check" />
        </th>
        <th class="text-center">Date</th>
        <th class="text-center">Heure début</th>
        <th class="text-center">Heure Fin</th>
        <th class="text-center">Duree</th>
        <th class="text-center">Action</th>
    </tr>
    <tbody id="formation-date-items" >
        {% if formated_formation_dates is defined %}
            {% for date in formated_formation_dates.dates %}
                <tr class="text-center" data-id="{{ date.id }}">
                    <td><input type="checkbox" name="formation_date_item[]" class="format-date-item" value="" /></td>
                    <td>{{ date.dateD | date('d/m/Y') }}</td>
                    <td>{{ date.dateD | date('H:i') }}</td>
                    <td>{{ date.dateF | date('H:i') }}</td>
                    <td class="formation_date_nb_h">{{ date.nbH | number_format(2, '.') }}</td>
                    <td><a href="#" class="delete-formation-date" alt="Supprimer la date"><i class="fas fa-trash-o">Supprimer</i></a></td>
                </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>