{% if type is defined and type == 'create' %}
{{ form_start(propal_form, {'attr':{ 'class': 'list-filter'}} ) }}
{% else %}
{{ form_start(propal_form ) }}
{% endif %}

<div class="col-sm-12">
    <fieldset class="col-sm-12">
        <legend>Infos client</legend>
        <div class="row">
             <div class="col-sm-3">
                {{ form_label(propal_form.clientpropal, 'Client', {
                    'label_attr': {'class': 'font-weight-bold required'}
                }) }}
                {% if propal.clientpropal %}
                                {# APR-140 : Lien vers fiche client #}
                                <a href="{{ path('Fiche_client_prospect_Controller/editClient', { id : propal.clientpropal.id} ) }}" title="Voir fiche client" target="_blank">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                </a>
                            {% endif %}
                {{ form_widget(propal_form.clientpropal) }}
            </div>
            <div class="col-sm-3">
                {{ form_label(propal_form.nom, 'Nom', {
                    'label_attr': {'class': 'font-weight-bold '}
                }) }}
                {{ form_widget(propal_form.nom) }}
            </div>
            <div class="col-sm-3">
                {{ form_label(propal_form.prenom, 'Prénom', {
                    'label_attr': {'class': 'font-weight-bold '}
                }) }}
                {{ form_widget(propal_form.prenom) }}
            </div>
            <div class="col-sm-3">
                {{ form_label(propal_form.type, 'Entreprise/Particulier', {
                    'label_attr': {'class': 'font-weight-bold required'}
                }) }}
                {{ form_widget(propal_form.type) }}
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-3">
                {{ form_label(propal_form.adresse, 'N° / Voie', {
                    'label_attr': {'class': 'font-weight-bold '}
                }) }}
                {{ form_widget(propal_form.adresse) }}
            </div>
            <div class="col-sm-2">
                {{ form_label(propal_form.codepostal, 'Code Postal', {
                    'label_attr': {'class': 'font-weight-bold'}
                }) }}
                {{ form_widget(propal_form.codepostal) }}
            </div>
            <div class="col-sm-2">
                {{ form_label(propal_form.ville, 'Ville', {
                    'label_attr': {'class': 'font-weight-bold '}
                }) }}
                {{ form_widget(propal_form.ville) }}
            </div>
            <div class="col-sm-2">
                {{ form_label(propal_form.telephone, 'Téléphone', {
                    'label_attr': {'class': 'font-weight-bold'}
                }) }}
                {{ form_widget(propal_form.telephone) }}
            </div>
            <div class="col-sm-3">
                {{ form_label(propal_form.email, 'Email', {
                    'label_attr': {'class': 'font-weight-bold'}
                }) }}
                {{ form_widget(propal_form.email) }}
            </div>
            <div class="col-sm-3">
                {{ form_label(propal_form.typepropal, 'Type', {
                    'label_attr': {'class': 'font-weight-bold'}
                }) }}
                {{ form_widget(propal_form.typepropal) }}
            </div>
            <div class="col-sm-3">
                {{ form_label(propal_form.fiabilite, 'Fiabilité', {
                    'label_attr': {'class': 'font-weight-bold'}
                }) }}
                {{ form_widget(propal_form.fiabilite) }}
            </div>
            <div class="col-sm-3">
                {{ form_label(propal_form.typeendroit, 'INTER / INTRA', {
                    'label_attr': {'class': 'font-weight-bold'}
                }) }}
                {{ form_widget(propal_form.typeendroit) }}
            </div>
        </div>
    </fieldset>
</div>


<div class="col-sm-12">
    <fieldset class="col-sm-12">
        <legend>Infos Propal</legend>
        <div class="row">
            <div class="col-sm-2">
                {{ form_label(propal_form.entitypropal, 'Entité', {
                    'label_attr': {'class': 'font-weight-bold required'}
                }) }}
                {{ form_widget(propal_form.entitypropal) }}
            </div>
            <div class="col-sm-2">
                {{ form_label(propal_form.statutpropal, 'Statut Propal', {
                    'label_attr': {'class': 'font-weight-bold required'}
                }) }}
                {{ form_widget(propal_form.statutpropal) }}
             
            </div>
            <div class="col-sm-2">
                {{ form_label(propal_form.commercialpropal, 'Commercial', {
                    'label_attr': {'class': 'font-weight-bold required'}
                }) }}
                {{ form_widget(propal_form.commercialpropal) }}
            </div>
        </div>
    </fieldset>
</div>

<div class="col-sm-12 mt-3">
    <fieldset class="col-sm-12">
        <legend>Besoin</legend>
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-4">
                          <a href="javascript:void(0)" id="btnajoutStage" data-toggle="modal" data-target="#popupAddStage">
                                <span class="fa-stack fa-1x">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fas fa-plus fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        {{ form_label(propal_form.formation, 'Formation', {
                            'label_attr': {'class': 'font-weight-bold required'}
                        }) }}
                        {{ form_widget(propal_form.formation) }}
                    </div>
                    <div class="col-sm-3">
                        {{ form_label(propal_form.personnes, 'Personnes concernées', {
                            'label_attr': {'class': 'font-weight-bold required'}
                        }) }}
                        {{ form_widget(propal_form.personnes) }}
                    </div>
                    <div class="col-sm-2">
                        {{ form_label(propal_form.coutht, 'Coût HT', {
                            'label_attr': {'class': 'font-weight-bold '}
                        }) }}
                        {{ form_widget(propal_form.coutht) }}
                    </div>
                    <div class="col-sm-1">
                        {{ form_label(propal_form.montantTVA, 'TVA (%)', {
                            'label_attr': {'class': 'font-weight-bold '}
                        }) }}
                        {{ form_widget(propal_form.montantTVA) }}
                    </div>
                    <div class="col-sm-2">
                        {{ form_label(propal_form.coutTTC, 'Coût TTC', {
                            'label_attr': {'class': 'font-weight-bold '}
                        }) }}
                        {{ form_widget(propal_form.coutTTC) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-4">
                        {{ form_label(propal_form.besoin, 'Besoin', {
                            'label_attr': {'class': 'font-weight-bold '}
                        }) }}
                        {{ form_widget(propal_form.besoin) }}
                    </div>
                    <div class="col-sm-4">
                        {{ form_label(propal_form.prerequis, 'Prérequis', {
                            'label_attr': {'class': 'font-weight-bold'}
                        }) }}
                        {{ form_widget(propal_form.prerequis) }}
                    </div>
                    <div class="col-sm-4">
                        {{ form_label(propal_form.objectif, 'Objectif', {
                            'label_attr': {'class': 'font-weight-bold'}
                        }) }}
                        {{ form_widget(propal_form.objectif, {'attr' : {'autocomplete' : 'off'}}) }}
                    </div>

                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-2">
                        <label class="font-weight-bold d-block text-center required">Durée</label>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="input-group">
                                {% if propal_form.durrej == "" %}
                                    {{ form_widget(propal_form.durrej, {attr: {value : 0}}) }}  
                                {% else %}
                                    {{ form_widget(propal_form.durrej) }}                       
                                {% endif %}
                                    <div class="input-group-append">
                                        <span class="input-group-text p-1" id="inputGroupPrepend">Jr</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    {{ form_widget(propal_form.durreh) }}
                                    <div class="input-group-append">
                                        <span class="input-group-text p-1" id="inputGroupPrepend">Hr</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label class="font-weight-bold d-block text-center">Dates</label>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="input-group">
                                    {{ form_widget(propal_form.datedebutpropal) }}
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="inputGroupPrepend">Debut</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    {{ form_widget(propal_form.datefinpropal) }}
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="inputGroupPrepend">Fin</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        {{ form_label(propal_form.lieupropal, 'Lieu', {
                            'label_attr': {'class': 'font-weight-bold'}
                        }) }}
                        {{ form_widget(propal_form.lieupropal) }}
                    </div>
                    <div class="col-sm-2">
                        {{ form_label(propal_form.dateedition, 'Date Edition', {
                            'label_attr': {'class': 'font-weight-bold'}
                        }) }}
                        {{ form_widget(propal_form.dateedition) }}
                    </div>
                    <div class="col-sm-2">
                        {{ form_label(propal_form.daterelance, 'Date relance', {
                            'label_attr': {'class': 'font-weight-bold'}
                        }) }}
                        {{ form_widget(propal_form.daterelance) }}
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</div>
<div class="col-sm-12 p-3 " id="content_bouton">
    <div class="btn-toolbar justify-content-md-center" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="Third group">
            <button type="submit" class="btn btn-primary btn-md btn-block" id="SaveBtn">
                {% if type is defined and type == 'create' %}
                    Ajouter
                {% else %}
                    Enregistrer les modifications
                {% endif %}
            </button>
        </div>
        {% if type is not defined %}
        {% if propal.entitypropal == 'proform' %}
            <div class="btn-group mr-2 list-filter" role="group" aria-label="Third group">
                    <a href="{{ path('propal_generate_docproform',{id:idpropal}) }}" class="btn btn-primary btn-md btn-block" id="createdocpropalproform">
                        Editer Propal
                    </a>
            </div>
        {% else %}
            <div class="btn-group mr-2 list-filter" role="group" aria-label="Third group">
                    <a href="{{ path('propal_generate_doc',{id:idpropal}) }}" class="btn btn-primary btn-md btn-block" id="createdocpropal">
                        Editer Propal
                    </a>
            </div>
        {% endif %}          
            <div class="btn-group mr-2 list-filter" role="group" aria-label="Third group">
                <a name="editerconv" data-toggle="modal" data-target="#convpapier" class="btn btn-primary btn-block text-white">Conv papier</a>
            </div>
                {% if propal_form.statutpropal.vars.value == '4' %}
                    <div class="btn-group mr-2 list-filter" role="group" aria-label="Third group">
                        <a href="javascript:void(0)" id="btnajoutdossierornot" data-toggle="modal" data-target="#popupAddOrNot" class="btn btn-primary btn-md btn-block">
                             Créer dossier                
                        </a>
                    </div>
                    <div class="modal fade " id="popupAddOrNot" tabindex="-1" role="dialog" >
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content list-filter">
            <div class="modal-header">
                <h5 class="modal-title edit-rdv">
                   Un dossier existe déja pour cette propal
                </h5>
                <button type="button" class="fas close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
               <p>Un dossier existe déja pour cette propal voulez vous vraiment en recréer un ?</p>
            </div>
            <div class="modal-footer">
                <a href="{{ path('Liste_Dossiers_Controller/ajoutdossier', {id_entite:propal_form.entitypropal.vars.value, id_formation:propal.formation.id, id_commercial:propal_form.commercialpropal.vars.value, coutht:propal_form.coutht.vars.value, clientPropal:propal.clientpropal.id}) }}", target="_blank" class="btn btn-primary btn-md btn-block" id="createdossier" onclick="ModifStatut()">
                             Créer dossier malgré tout                
                        </a>              
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
                        {% else %}
                    <div class="btn-group mr-2 list-filter" role="group" aria-label="Third group">
                        <a href="{{ path('Liste_Dossiers_Controller/ajoutdossier', {id_entite:propal_form.entitypropal.vars.value, id_formation:propal.formation.id, id_commercial:propal_form.commercialpropal.vars.value, coutht:propal_form.coutht.vars.value, clientPropal:propal.clientpropal.id}) }}", target="_blank" class="btn btn-primary btn-md btn-block" id="createdossier" onclick="ModifStatut()">
                             Créer dossier                
                        </a>
                    </div>
                {% endif %}
        {% endif %}
    </div>
</div>
<div class="modal fade " id="convpapier" tabindex="-1" role="dialog" >
    <div class="modal-dialog modal-lg " role="document">
        <div class="modal-content list-filter">
            <div class="modal-header">
                <h5 class="modal-title edit-rdv">
                    Convention papier 
                </h5>
                <button type="button" class="fas close not-disabling" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              <input type="checkbox" name="check" class="not-disabling" value="0">
                <label for="check">En entreprise (intra)</label><br>
                <input type="checkbox" name="check" class="not-disabling" value="1">
                <label for="check">Hors entreprise (inter)</label><br>
                <input type="checkbox" name="check" class="not-disabling" value="2">
                <label for="check">Formation en présentielle</label><br>
                <input type="checkbox" name="check" class="not-disabling" value="3">
                <label for="check">Formation à distance</label><br>
            </div>
            <div class="modal-footer">
                <a id="convpapierurl" href="{{ path('propal_generate_conv',{id:idpropal}) }}" class="btn btn-primary btn-md btn-block" id="createconvpropal">
                    Editer Convention
                </a>
                <button type="button" class="btn btn-secondary not-disabling" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

{# APR-204 #}
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.29.2/sweetalert2.all.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<script>

            setTimeout(() => {
              document.querySelectorAll(".list-filter").forEach(function(elem){
                elem.disabled = false;
            });

            document.querySelectorAll(".not-disabling").forEach(function(elem){
                elem.disabled = false;
            });  
            }, 1000);
            const convpapierurl = document.getElementById("convpapierurl");

            var checkboxes = document.querySelectorAll("input[type=checkbox][name=check]");
let enabledSettings = []

checkboxes.forEach(function(checkbox) {
  checkbox.addEventListener('change', function() {
    const checkboxInfos = 
      Array.from(checkboxes) // Convert checkboxes to an array to use filter and map.
      .filter(i => i.checked) // Use Array.filter to remove unchecked checkboxes.
      .map(i => i.value) // Use Array.map to extract only the checkbox values from the array of objects.
    const enabledSettings = [false,false,false,false].map((v,i) => checkboxInfos.includes(i.toString())) // Create an array of booleans with the same length as the number of checkboxes.
    convpapierurl.href = "/propal/{{ idpropal }}/generateconv/?checkeds=[false,false,false,false]".replace('[false,false,false,false]', JSON.stringify(enabledSettings))
    console.log(convpapierurl.href)
  })
});        

if (propal_statutpropal.value != 4)
        {
            function ModifStatut() 
            {
                document.getElementById("ModifBtn").click();
                document.getElementById('propal_statutpropal').value = 4;
                document.getElementById("SaveBtn").click();

                    let timerInterval
                    Swal.fire({
                    icon: 'warning',
                    title: 'Propal',
                    html: 'statut en cours de changement..',
                    timer: 3500,
                    timerProgressBar: true,
                    didOpen: () => {
                        Swal.showLoading()
                        timerInterval = setInterval(() => {
                        const content = Swal.getContent()
                        if (content) {
                            const b = content.querySelector('b')
                            if (b) {
                            b.textContent = Swal.getTimerLeft()
                            }
                        }
                        }, 100)
                    },
                    willClose: () => {
                        clearInterval(timerInterval)
                    }
                    }).then((result) => {
                    /* Read more about handling dismissals below */
                    if (result.dismiss === Swal.DismissReason.timer) {
                        swal(
                            'Statut changé !',
                            'Le statut de la propal est passé en "Dossier créé" !',
                            'success'
                            )
                        }
                    })
                        }
                        
        }
    
{#if (document.getElementById('propal_coutht').value == "")
    {
        document.getElementById('propal_coutht').value = 0;
    }
    if (document.getElementById('propal_durrej').value == "")
    {
        document.getElementById('propal_durrej').value = 0;
    }#}
    if (document.getElementById('propal_montantTVA').value == "")
    {
        document.getElementById('propal_montantTVA').value = 20;
    }
    if (document.getElementById('propal_dateedition').value == "")
    {
        dateNow = new Date();
        if((dateNow.getMonth() + 1) < 10)
        {
            month = "0" + (dateNow.getMonth() + 1);
        }
        else
        {
            month = "" + (dateNow.getMonth() + 1);
        }
        {% if ((isCreatePropal is defined) and isCreatePropal) %}
            document.getElementById('propal_dateedition').value = "" + dateNow.getDate() + "/" + month + "/" + dateNow.getFullYear();
        {% endif %}
    }
    if (document.getElementById('propal_daterelance').value == "")
    {
        {% if ((isCreatePropal is defined) and isCreatePropal) %}
            dateRelance = new Date();
            dateRelance.setDate(dateRelance.getDate() + 10);
            if((dateRelance.getMonth() + 1) < 10)
            {
                month = "0" + (dateRelance.getMonth() + 1);
            }
            else
            {
                month = "" + (dateRelance.getMonth() + 1);
            }
            document.getElementById('propal_daterelance').value = "" + dateRelance.getDate() + "/" + month + "/" + dateRelance.getFullYear();
        {% else %}
            if (document.getElementById('propal_dateedition').value != "")
            {
                dateEdition = document.getElementById('propal_dateedition').value.split("/");
                dateEdition = new Date(dateEdition[2], dateEdition[1] - 1, dateEdition[0]);
                dateEdition.setDate(dateEdition.getDate() + 10);
                if((dateEdition.getMonth() + 1) < 10)
                {
                    month = "0" + (dateEdition.getMonth() + 1);
                }
                else
                {
                    month = "" + (dateEdition.getMonth() + 1);
                }
                document.getElementById('propal_daterelance').value = "" + dateEdition.getDate() + "/" + month + "/" + dateEdition.getFullYear();
            }
        {% endif %}

    }
</script>




{{ form_end(propal_form,{'render_rest':false}) }}


<div class="modal fade " id="popupAddStage" tabindex="-1" role="dialog" >
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content list-filter">
            <div class="modal-header">
                <h5 class="modal-title edit-rdv">
                    Nouveau Intitulé
                </h5>
                <button type="button" class="fas close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ render(path('ajout_competence')) }}

            </div>
            <div class="modal-footer">
                <button type="button" id="tag-form-submit" class="btn btn-primary addNewStage" data-dismiss="modal">Ajouter</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
