{% extends 'base.html.twig' %}

{% block title %}Création formation - CRM Aprentiv v2.0{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('home.index') }}"><i class="fas fa-home"></i>  Accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page">Création formations</li>
        </ol>
    </nav>

    <h2 class="text-center mt-2 text-primary">CREATION FORMATION</h2>
    <div class="row">
        <div class="col-sm-12">
            <nav class="navbar navbar-expand-sm bg-light navbar-light justify-content-center">
                <div class="col-sm-3">
                    <a class="nav-link btn btn-info" href="{{ path('create_formation', {'typeFormation': constant('\\App\\Constants\\FormationType::FORMATION_INTRA')}) }}">Ajouter formation intra</a>
                </div>
                <div class="col-sm-3">
                    <a class="nav-link btn btn-info" href="{{ path('create_formation', {'typeFormation': constant('\\App\\Constants\\FormationType::FORMATION_INTER')}) }}">Ajouter formation inter</a>
                </div>
                <div class="col-sm-3">
                    <a class="nav-link btn btn-info" href="{{ path('create_formation', {'typeFormation': constant('\\App\\Constants\\FormationType::FORMATION_SOUS_TRAITANCE')}) }}">Ajouter formation sous-traitance</a>
                </div>
            </nav>
        </div>
    </div>
{% endblock %}
